.flashcards-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, 16rem);
    grid-gap: 10px;
    justify-content: center;
    row-gap: 1rem;
    width: 80%;
}

.flashcard {
    width: 16rem;
    height: 10rem;
}

.flashcard-inner {
    position: relative;
    width: 100%;
    height: 100%;
    transform-style: preserve-3d;
    transition: transform 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94);
}

.flashcard-flipped {
    transform: rotateX(180deg);
}

.flashcard-front,
.flashcard-back {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    width: 100%;
    height: 100%;
    padding: 1.5rem;
    backface-visibility: hidden;
    transform-style: preserve-3d;
    background-color: #f0f0e9;
    border-radius: 1rem;
    box-sizing: border-box;
}

.flashcard-front p,
.flashcard-back p {
    color: black;
}

.flashcard-front p {
    font-weight: 600;
}

.flashcard-front {
    overflow: hidden;
}

.flashcard-left-border {
    position: absolute;
    display: inline-block;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 10px;
}

.flashcard-back {
    transform: rotateX(180deg);
}

.flashcard-editor {
    display: flex;
    flex-direction: column;
    justify-content: center;
    row-gap: 0.25rem;
    position: absolute;
    width: 100%;
    height: 100%;
    padding: 1.5rem;
    backface-visibility: hidden;
    transform-style: preserve-3d;
    background-color: #f0f0e9;
    border-radius: 1rem;
    box-sizing: border-box;
    overflow: hidden;
}

.flashcard-editor textarea {
    color: black;
}

.flashcard-editor label {
    margin-bottom: -0.125rem;
    font-weight: 500;
    color: black;
}